{{ if .Site.Params.contact.enable }}
{{ "<!-- Start Contact Us -->" | safeHTML }}
<section class="contact-us section bg-gray" id="contact">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="title text-center">
                    {{ with .Site.Params.contact.topTitle }}<h4>{{.}}</h4>{{ end }}
                    {{ with .Site.Params.contact.title }}
                    <h2>{{.}}</h2>
                    <span class="border"></span>
                    {{ end }}
                    {{ with .Site.Params.contact.subtitle }}<p>{{.}}</p>{{ end }}
                </div>
            </div>
        </div>

        <div class="row">
			
            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block" style="padding-left: 20px; padding-right: 20px;">
                    <img src="https://www.distrotube.com/images/social/social-mastodon.png" style="width: 80px;"></img>
                    {{ with .Site.Params.contact.mastodon }}
                    <h4><a href="{{.}}" style="color: #212529;">Mastodon</a></h4>
                    {{ end }}
                    {{ with .Site.Params.contact.mast_cta }}<p>{{ . | safeHTML }}
                    </p>
                    {{ end }}
                </div>
            </div>
            
            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block" style="padding-left: 20px; padding-right: 20px;">
                    <img src="https://www.distrotube.com/images/social/social-patreon.png" style="width: 80px;"></img>
                    {{ with .Site.Params.contact.patreon }}
                    <h4><a href="{{.}}" style="color: #212529;">Patreon</a></h4>
                    {{ end }}
                    {{ with .Site.Params.contact.patr_cta }}<p>{{ . | safeHTML }}
                    </p>
                    {{ end }}
                </div>
            </div>       
                
            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block" style="padding-left: 20px; padding-right: 20px;">
                    <img src="https://www.distrotube.com/images/social/social-youtube.png" style="width: 80px;"></img>
                    {{ with .Site.Params.contact.youtube }}
                    <h4><a href="{{.}}" style="color: #212529;">YouTube</a></h4>
                    {{ end }}
                    {{ with .Site.Params.contact.yt_cta }}<p>{{ . | safeHTML }}
                    </p>
                    {{ end }}
                </div>
            </div>           

            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block" style="padding-left: 20px; padding-right: 20px;">
                    <img src="https://www.distrotube.com/images/social/social-reddit.png" style="width: 80px;"></img>
                    {{ with .Site.Params.contact.reddit }}
                    <h4><a href="{{.}}" style="color: #212529;">Reddit</a></h4>
                    {{ end }}
                    {{ with .Site.Params.contact.redd_cta }}<p>{{ . | safeHTML }}
                    </p>
                    {{ end }}
                </div>
            </div> 

            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block" style="padding-left: 20px; padding-right: 20px;">
                    <img src="https://www.distrotube.com/images/social/social-gitlab.png" style="width: 80px;"></img>
                    {{ with .Site.Params.contact.gitlab }}
                    <h4><a href="{{.}}" style="color: #212529;">GitLab</a></h4>
                    {{ end }}
                    {{ with .Site.Params.contact.gitl_cta }}<p>{{ . | safeHTML }}
                    </p>
                    {{ end }}
                </div>
            </div> 

            <div class="col-12 col-md-4">
                <div class="address-block contact-meta-block" style="padding-left: 20px; padding-right: 20px;">
                    <img src="https://www.distrotube.com/images/social/social-irc.png" style="width: 80px;"></img>
                    <h4>IRC</h4>
                    {{ with .Site.Params.contact.irc_cta }}<p>{{ . | safeHTML }}
                    </p>
                    {{ end }}
                </div>
            </div> 
            
        </div>
    </div>
</section>
{{ end }}
