{{ $data := index .Site.Data .Site.Language.Lang }}
{{ with $data.service }}
    {{ if .enable }}
    {{ "<!-- Service Section Start -->" | safeHTML }}
    <section class="service-list section bg-gray">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="title text-center">
                        {{ with .topTitle }}<h4>{{.}}</h4>{{ end }}
                        {{ with .title }}<h2>{{.}}</h2><span class="border"></span>{{ end }}
                        {{ with .subtitle }}<p>{{.}}</p>{{ end }}
                    </div>
                </div>
            </div>
            <div class="row">
                {{ range .item }}
                <div class="col-md-4">
                    <div class="block">xxxx
                        {{ with .icon }}<i class="{{.}}"></i>{{ end }}
                        {{ with .title }}<h3>{{.}}</h3>{{ end }}
                        <ul>
                            {{ range .list }}
                            <li>{{.name}}</li>
                            {{ end }}
                        </ul>
                    </div>
                </div>
                {{ end }}
            </div>
        </div>
    </section>
    {{ "<!-- Service Section Start -->" | safeHTML }}
    {{ end }}
{{ end }}
